$tf-color-blue1: #f0ffff;
$tf-color-grey1: #f5f5f5;
$tf-color-grey2: #f8f8f8;
$tf-color-grey3: #cccccc;
$tf-color-grey4: #e5e5e5;
$tf-color-white: #ffffff;
$tf-color-primary: #6190e8;
$tf-color-warning: #e93b3d;
$tf-color-dark1: #333333;
$tf-color-dark2: #666666;
$tf-color-dark3: #999999;
$tf-color-info: #ffd600;
$tf-color-green: #00e676;
